.background{
  text-align: center;
  background-image: url("/home/erick/Documents/IP-4/images/game.jpg");
  padding-bottom: 100px;
  padding-top: 100px;
}
h1{
    color: red;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  }
#player{
  color: blue;
}
.red{
  padding-left: 500px;
}
.style{
  background-image: url("/home/erick/Documents/IP-4/images/boom.jpg");
  padding-bottom: 100px;
  padding-top: 40px;
}
#die-count{
  color: #2a6592;
}
.king{
  border-color: blue;
  font-size: 13px;
}
p{
    color: #2a6592;

}
